* {
	padding: 0;
	margin: 0;
}
.bodycontainer {
	width: 100%;
	height: 100%;
	background-color: white;
	border-collapse: collapse;
	table-layout: fixed;
}
.menubar {
	height: 8%;
	background-color: gray;
}
.mapcontainer {
	height: 92%;
	width:35%;
	overflow: hidden;
	background-color: white;
}
.gtavmap {
	display: block;
	width: 85%;
	max-width:85%;
	margin-right: auto;
	margin-left: auto;
	filter: drop-shadow(0 0 0.75rem black);
}

.cokelockup {
	background-color: purple;
}

.bodycontainer p {
	width: 65%;
	height: 3em;
	line-height: 3em;
	background-color: #c4c4c4;
	color: white;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
}
.ieinner {
	opacity: 50%;
	width: 90%;
	height: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: gray;
	filter: drop-shadow(0 0 0.75rem gray);
	border-radius: 5%;
	transition: 1s;
}
.ieinner:hover {
	cursor: pointer;
	filter: drop-shadow(0 0 0.75rem black);
}
