* {
	padding: 0;
	margin: 0;
}
.bodycontainer {
	width: 100%;
	height: 100%;
	background-color: green;
}
.menubar {
	height: 8%;
	background-color: gray;
}
.mapcontainer {
	height: 92%;
	width:35%;
	overflow: hidden;
	background-color: white;
}
.gtavmap {
	display: block;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	filter: drop-shadow(0 0 0.75rem black);
}
.cokelockup {
	background-color: purple;
}
tr {
	text-align: center;
	line-height: 50%;
}